@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: grey;
}
.container-fluid {
background: url("./../img/fondo.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.inputs {
    position: relative;
    float: right;
    margin-right: 450px;
    margin-top: -250px;
}
p {
    font-size: 9px;
    text-align: left;
    margin-left: 380px;
    margin-top: 2px;
}
.logo {
    margin-top: 70px;
    margin-left: 50px;
}